.navbar-brand {
    font-size: 2rem !important;
}
.navbar
{
    background-color: black !important;
    color: white !important;
}
.navbar-collapse
{
    display: flex;
    justify-content: flex-end !important;
}
