.navbar-brand {
    font-size: 2rem !important;
    color: white !important;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.37) !important;
    position: fixed !important;
    width: 100%;
    z-index: 110;
}
.navbar-collapse {
    display: flex;
    justify-content: flex-end !important;
}
.nav-link {
    color: white !important;
}
