.AllMain {
    background-color: #292929;
}
.dives {
    color: white;
}
.dives h1 {
    text-align: center;
}
.Icon {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: -100;

    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: animationEnd;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
@keyframes animationEnd {
    from {
        visibility: visible;
        opacity: 1;
        z-index: 100;
    }
    to {
        visibility: hidden;
        z-index: 100;
        opacity: 0.9;
    }
}

@keyframes animationIcon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);

    }
}
.Icon img {
    animation-name: animationIcon;
    animation-duration: 1s;
    animation-iteration-count: 4;
    width: 25%;
}
