.AllMain {
    background-color: #292929;
}
.dives {
    color: white;
}
.dives h1 {
    text-align: center;
}
.Icon {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
