@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.AllMain {
    background-color: #292929;
}
.dives {
    color: white;
}
.dives h1 {
    text-align: center;
}
.Icon {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: -100;

    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
@keyframes animationEnd {
    from {
        visibility: visible;
        opacity: 1;
        z-index: 120;
        position: fixed;
    }
    to {
        visibility: hidden;
        z-index: 120;
        position: fixed;
    }
}

@keyframes animationIcon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.Icon img {
    animation-duration: 1s;
    animation-iteration-count: 4;
    width: 25%;
}
.s1 {
    background-image: url(/images/image.png);
    height: 100vh;
}
.dives {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.47);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: SwipeAnimation;
    animation-delay: 5s;
    animation-duration: 2s;
}
.dives h1 {
    font-size: 4rem;
}
.dives p {
    font-size: 1.5rem;
}
.dives a {
    font-size: 2rem;
    text-decoration: none;
    background-color: mediumpurple;
    border-radius: 15px;
    padding: 5px 15px;
    color: white;
}

@keyframes SwipeAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.Foooter {
    background-color: #0b0f1a;
    background: linear-gradient(to bottom, #1a1340 0%, #0f0a2a 50%, #070a14 100%);
    color: #eaeaff;
    overflow: hidden;
}
.gradieent {
    width: 50%;
    font-size: 1.3rem;
    padding-left: 5%;
    padding-top: 2%;
}
.gradieentAnimation {
    animation-name: animationFooter;
    animation-duration: 2s;
}

.hyperLinck {
    text-align: center;
    background-color: #08197b;
    padding: 1% 10%;
    border-radius: 25px;
    text-decoration: none;
    color: white;
}
.div2 {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 2%;
}
.div2 p {
    width: 15%;
    text-align: center;
}

.divAn2 {
    animation-name: animationDiv2;
    animation-duration: 2s;
}

.gradieent h2 {
    font-family: "Nunito", sans-serif;
    font-size: 3rem;
}

@keyframes animationFooter {
    from {
        opacity: 0;
        transform: translateX(-800px);
    }
    to {
        opacity: 1;
        transform: translateX(0.1px);
    }
}

@keyframes animationDiv2 {
    from {
        opacity: 0;
        transform: translateY(600px);
    }
    to {
        opacity: 1;
        transform: translateY(0.1px);
    }
}
.New {
    background-color: darkblue;
    padding-top: 6%;
    color: white;
}
